body {
  margin: 0;
  padding: 0;
  text-align: center;

  font-family: Verdana, sans-serif;
  font-size: 100%;
  color: #151515;
  
  background: #4297f6 url("../gfx/bg-img.png") repeat-x;
}

#bg-stripes {
  position: absolute;
  width: 100%;
  height: 200px;
  background: url("../gfx/bg-stripes.png") repeat-x;
}

#bg-top-line {
  position: absolute;
  width: 100%;
  height: 30px;
  background: #7c0084;
  border-bottom: 2px solid #edaa09; /*353535*/
}

#main-wrapper {
  position: relative;
  width: 960px;
  text-align: left;
}






/* ----- general start ----- */
h1 {
  font-size: 1.4em;
  margin-bottom: 5px;
  margin-top: 0;
  padding-bottom: 5px;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  padding-bottom: 0px;
  margin-top: 0;
}

h3 {
  font-size: 1em;
  margin-bottom: 5px;
  margin-top: 0;
}

.centered {
  margin: 0 auto;
}

.r-float {
  float: right;
}

.l-float {
  float: left;
}

.clear {
  clear: both;
}

.c-white {
  color: #ffffff;
}

.c-black {
  color: #000000;
}

.c-yellow {
  color: #edaa09;
}

.c-blue {
  color: rgb(54,113,178);
}

.c-red {
  color: rgb(238,53,59); 
}

.inner-pad-35 {
  padding: 35px;
}

.inner-pad-15 {
  padding: 15px;
}

.lr-inner-pad-10 {
  padding: 0 10px;
}

.t-margin-15 {
  margin-top: 15px;
}

.hghl {
  font-weight: bold;
}

.b-yellow {
  border: 2px solid #edaa09;
}
/* ----- general end ----- */





/* ----- header start ----- */
#header {
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border-bottom: 2px solid #edaa09;
  top: 0px;
  
  background: url("../gfx/bg-header.png") no-repeat -70px center;
}

#header #main-title {
  font-size: 1.1em;
}

#header #log-info {
  font-size: 0.6em;
}

#header #log-info span {
  padding-left: 15px;
}

#header #log-info span a:hover {
  text-decoration: none;
}

/* ----- header end ----- */





/* ----- content start ----- */
#content {
  position: relative;
  width: 100%;
  min-height: 400px;
  background: #ffffff;
}

#content #inner-wrapper {
  position: relative;
  width: 100%;
}

#content #inner-wrapper .box {
  padding-bottom: 5px;
  border-bottom: 2px solid #edaa09;
  margin-bottom: 30px;
}

#content #inner-wrapper .box:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

#content #inner-wrapper .box .right-box {
  float: right;
  width: 370px;
}

#content #inner-wrapper .box .right-box img.main-logo {
  width: 100%;
  margin-bottom: 5px;
}

#content #inner-wrapper .box .right-box .img-box {
  width: 100%;
  border-top: 1px dashed #edaa09;
}

#content #inner-wrapper .box .right-box .img-box img {
  float: left;
  width: 100px;
  height: 75px;
  padding: 10px;
}

#content #inner-wrapper . ul {
  margin-top: 0px;
}
/* ----- content end ----- */





/* ----- footer start ----- */
#footer {
  border-top: 1px solid #edaa09;
  padding-top: 5px;
  margin-top: 10px;
  font-size: 0.8em;
}
/* ----- footer end ----- */

